@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montaga&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body {
    margin: 0; 
    font-family: Arial, sans-serif;
    background-color: white; 
}

header {
    background: black;
    padding: 9px 700px 140px; 
    display: flex;
    flex-direction: column; 
    align-items: center;
}

#logo {
    width: 160px; 
    height: auto;
    
}

.itens-cabeca{
    padding-left: 1000px;
    margin-top: -170px;
    display: inline-flex;
}

.itens-cabeca img {
    width: 40px; 
    height: auto;
    float: right;
    cursor: pointer;
}


.links{
    gap: 90px;
    text-align: left;
    display: flex;
    background: #545454;
    
    
}

h1{
    font-family: "Playfair Display", serif;
    background: #545454;
    text-align: left;
    margin-bottom: 1px;
    
    
    
}

a{
    gap: 300px;
    color: aliceblue;
    font-family: "Playfair Display", serif;
    font-size: 20px;
    margin-left: 200px;
    margin-bottom: 5px;
    text-transform: uppercase;
    text-decoration: none;
    
}

a:hover{
    color: orange;
}

.container{

    width: 90%;
    padding-right: -170px;
    margin-left: 90px;
    background: black;
    padding-bottom: 20px;
    border-radius: 20px;
    
}

.container img{
    width: 60%;
    margin-left: 250px;
    cursor: 0;

}

#titulo{
    gap: 90px;
    display: flex;
    justify-content: space-around;
    justify-content: center;
    font-family: "Playfair Display", serif;
    text-align: center;
    margin: 70px 760px;
    font-size: 70px;
    color: black;
}


.bordas {
    padding-bottom: 10px;
    padding-top: 20px;
    display: flex;
    gap: 40px;
    justify-content: space-around;
    justify-content: center;

}
.retangulo {
    border-radius: 20px;
    width: 230px;
    height: 280px;
    border: 2px solid black;
  
}

#yakisoba{
    margin: 10px 14px;
    width: 85%;

}

#sushi-salmao{
    width: 220px;
    margin: 20px 0;
}

#sashimi-salmao{
    width: 200px;
    margin: 0 10px;
}

#hot-roll{
    width: 220px;
    height: 24vh;
    margin: 20px 5px;
}

#guioza{
    width: 200px;
    margin: 20px 10px;
}

#temaki-salmao{
    width: 220px;
    margin: 30px 5px;
}

#joe-joe{
    width: 200px;
    margin: 5px 15px;
}

#uramaki{
    width: 220px;
    margin: 35px 5px;
}

.retangulo:hover{
    transform: scale(1.1);
    
}

.retangulo:active{
    border-color: red;
}

